.git
.github
.idea
.vscode
**/.env
**/.env.*
**/node_modules
**/dist
**/coverage
**/*.tsbuildinfo
npm-debug.log*
**/*.md
docs
certs
backups
**/*.dump
**/*.sql.gz
**/.DS_Store
**/src/**/*.spec.ts
**/src/**/*.test.ts
**/src/**/*.test.tsx
