[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/
*.pidb.meta
*.pdb.meta
*.mdb.meta
CrashLogs/
sysinfo.txt
*.apk
*.aab
*.unitypackage
.vs/
.idea/
*.csproj
*.sln
*.suo
ExportedObj/
.consulo/
InitTestScene*.unity*
